.films {
    max-width: 1200px;
    margin: 79px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-list {
    margin: 1px 0 0 0;
    width: 100%;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    align-content: center;

}

.card-list__btn-more {
    border: 1px solid #424242;
    border-radius: 5px;
    width: 320px;
    min-height: 36px;
    background: transparent;
    margin: 75px auto 0 auto;
    display: block;
    color: #fff;
    text-align: center;
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: opacity .4s;
}

.card-list__btn-more:hover {
    opacity: .8;
}


@media (max-width: 768px) {
    .card-list {
        row-gap: 27px;

    }
    .card-list__btn-more {
        margin: 61px auto 0 auto;
    }

}



@media (max-width: 719px) {
    .films {
        margin-top: 50px;
    }
}

@media (max-width: 560px) {
    .card-list__btn-more {
        padding: 0 40px;
        width: 240px;
    }

}

@media (max-width: 320px) {
    .card-list {
        grid-gap: 25px;
        grid-auto-rows: 213px;
    }
}
/*@media (max-width: 667px) {*/
/*    .card-list {*/
/*        grid-template-columns: repeat(1, minmax(300px, 500px));*/
/*        margin: 0 auto;*/
/*    }*/
/*}*/
