.portfolio {
    max-width: 1140px;
    margin: 0 auto;
}

.portfolio__title {
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}


.nav-list__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.portfolio__link {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;

}

.portfolio__link-arrow {
    width: 29px;
    height: 60px;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 200% */
    letter-spacing: -1.2px;
}
