.portfolio {
    max-width: 1140px;
    padding-top: 100px;
    margin: 0 auto;
}

.portfolio__title {
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}

.nav-list {
    margin: 50px 0 0 0;
    padding: 0;
}


.nav-list__item {
    padding-bottom: 19px;
    border-bottom: 1px solid #424242;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.portfolio__link {
    padding-top: 20px;
    color: #FFF;
    text-decoration: none;
    font-family: Inter, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;

}

.nav-list__item:last-child {
    border: none;
}

.portfolio__link-arrow {
    padding-top: 20px;
    width: 29px;
    height: 60px;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 200% */
    letter-spacing: -1.2px;
}
