.profile {
    max-width: 1280px;
    margin: 0 auto;

}

.profile__wrapper {
    max-width: 410px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}


.profile__title {
    margin: 74px 0 0 0;
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile-list {
    margin: 123px auto 0 auto;
    align-items: center;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-list__item {
    border-bottom: 1px solid #424242;
    padding: 0 0 30px 0;
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 17px 0 0 0;
}

.profile-list__item:first-child {
    margin: 0;
}

.profile-list__item p {
    margin: 0;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile-list__item:last-child {
    border: none;
}

.profile__btn-container {
    width: fit-content;

    margin: 186px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile__btn {
    margin-top: 16px;
    border: none;
    background: transparent;
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: opacity .4s;
}

.profile__btn:hover {
    opacity: .8;
}

.profile__btn_color_red {
    color: #EE3465;
}



@media (max-width: 768px) {

    .profile__wrapper {
        margin-top: 161px;

    }

    .profile-list {
        width: 100%;
    }


    .profile-list {
        margin: 98px auto 0 auto;

    }


    .profile__btn-container {
        margin: 175px auto 0 auto;

    }


}

@media (max-width: 560px) {
    .profile__wrapper {
        max-width: 260px;
        margin-top: 0;
    }

    .profile__title {
        margin: 70px 0 0 0;
    }

    .profile-list {
        margin: 80px auto 0 auto;
    }

    .profile__btn-container {
        margin: 345px auto 0 auto;
    }

    .profile__btn {
        font-size: 12px;
    }

}
