.nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    min-height: 74px;
    align-items: center;
}

.nav-list {
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

/*.nav-list__item_position_end {*/
/*    margin: 0 auto 0 0*/
/*}*/

.nav-list__item {

    margin: 0 16px 0 0;
    color: #FFFFFF;

}

/*.nav-list__item:first-child {*/
/*    margin: 0 0 0 auto*/
/*}*/

/*.nav-list__item:last-child {*/

/*    margin: 0 auto;*/
/*}*/

.nav-list__profile {
    width: 76px;
    height: 32px;
    margin-right: 38px;
    flex-shrink: 0;
    border: none;
    border-radius: 3px;
    background: #3DDC84;
    text-decoration: none;
    cursor: pointer;

}

@media (max-width: 768px) {
    .nav {
        padding: 0 10px;
        margin: 0 20px;
    }

    .nav-list {
        display: none;
    }
}
