.navigation {

    margin: 0 auto;
}

.searchForm {

    max-width: 1280px;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    margin-left: 14px;
    margin-right: 10px;
    width: 85%;
    height: 50px;
    border-radius: 8px;
    background: #2F2F2F;
    border: none;
    color: #FFFFFF;
    padding-left: 20px;

}

.searchFormBtn {
    padding: 0;
    margin: 0 14px 0 0;
    width: 44px;
    height: 44px;
    background: url("../../images/find-3.svg");
    background-size: cover;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    transition: opacity .4s;
}

.searchFormBtn:hover {
    opacity: .8;
}

.searchInput::placeholder {
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

@media (max-width: 320px) {
    .searchInput {
        height: 44px;
        padding-left: 13px;
    }
}
