.header {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    min-height: 74px;
    align-items: center;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__btn {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    text-align: center;
    width: 76px;
    height: 32px;
    margin-right: 30px;
    flex-shrink: 0;
    border: none;
    border-radius: 3px;
    background: #3DDC84;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.header__btn:last-child {
    margin-right: 0;
}

.header__btn_bg_none {
    color: #FFFFFF;
    background: none;


}

@media (max-width: 768px) {
    .header {
        padding: 0 10px;
        margin: 0 20px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 0;
        margin: 0 14px;
    }
    .header__btn {
        font-size: 10px;
        line-height: 16px; /* 160% */
        width: 54px;
        height: 26px;
        margin-right: 19px;
    }
}
