.header {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    min-height: 74px;
    align-items: center;
}

.header__btn {
    width: 76px;
    height: 32px;
    margin-right: 38px;
    flex-shrink: 0;
    border: none;
    border-radius: 3px;
    background: #3DDC84;
    outline: none;
    cursor: pointer;

}

.header__btn:last-child {
    margin-right: 0;
}

.header__btn_bg_none {
    border: none;
    background: none;
    outline: none;
    color: #FFFFFF;

}
