.about-me {
    max-width: 1140px;
    margin: 110px auto 0 auto;

}

.about-me__wrapper {
    display: grid;
    grid-template-columns: fit-content(600px)  1fr;
    /*grid-auto-rows: 58px 20px fit-content(175px) 17px;*/
    grid-gap: 19px;
    margin-top: 65px;
}

.about-me__name {
    margin: 0;
    max-width: 600px;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 116% */
    letter-spacing: -2px;
    grid-column: 1/2;
}


.about-me__job {
    margin: 0;
    max-width: 600px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
    grid-column: 1/2;
}

.about-me__description {
    max-width: 600px;
    margin: 6px 0 0 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    grid-column: 1/2;

}

.about-me__photo {
    margin-left: 50px;
    grid-column: 2/3;
    grid-row: 1/5;
    width: 270px;
    height: 327px;
    border-radius: 10px;
    justify-self: end;
    object-fit: cover;
}

.about-me__github-link {
    text-decoration: none;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 768px) {
    .about-me {
        margin: 91px 50px 0 50px;
    }

    .about-me__name {
        font-size: 40px;
        line-height: 40px; /* 100% */
        letter-spacing: -1.6px;
    }

    .about-me__job {
        font-size: 12px;
        line-height: 18px; /* 150% */
    }

    .about-me__description {
        margin-top: 4px;
        max-width: 359px;
        font-size: 12px;
        line-height: 18px; /* 150% */
    }

    .about-me__wrapper {
        grid-template-columns: fit-content(359px) 1fr;
        margin-top: 65px;
        /*grid-auto-rows: 40px 18px fit-content(183px) 17px;*/
        grid-row-gap: 16px;

    }

    .about-me__photo {
        width: 255px;
        height: 307px;
    }

}



@media (max-width: 680px) {
    .about-me {
        max-width: 1140px;
        margin: 26px 14px 0 14px;

    }
    .about-me__wrapper {
        grid-template-columns: 1fr;
        margin-top: 59px;
        grid-gap: 17px;
        grid-template-rows: auto;



    }
    .about-me__photo {
        grid-column: 1/2;
        width: 100%;
        height: 352px;
        /*width: 100%;*/
        /*height: auto;*/
        grid-row: 1/2;
    }


    .about-me__name {
        font-size: 30px;
        letter-spacing: -1.2px;
        margin-top: 21px;

    }
    .about-me__job {
        font-size: 11px;
        line-height: 16px; /* 145.455% */
    }
    .about-me__description {
        font-size: 11px;
        line-height: 16px; /* 145.455% */
    }
    .about-me__github-link {
        margin-top: 7px;
    }
}
