.navTab {
    margin-top: 101px;
    width: 100%;
    padding-bottom: 13px;
}

.navTabList {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

}

.navTabItem {
    margin: 0 10px 0 0;
    display: flex;
    width: 96px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #303030;
    align-items: center;
    justify-content: center;

}

.navTabItem:last-child {
    margin: 0;

}

.navTabLink {
    margin: 0;
    text-decoration: none;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}
